In [1]:
path = '../data/weather_data.json'
import pandas as pd 
import json 
from pathlib import Path
import os

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [4]:
with open(path) as f: 
    data = json.load(f)

df = pd.json_normalize(data)
df.head()

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,main.sea_level,main.grnd_level,wind.speed,wind.deg,wind.gust,clouds.all,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]",stations,10000,1771079151,-10800,3457952,Manhuaçu,200,-42.0336,-20.2581,26.28,26.28,26.28,26.28,1018,61,1018,923,0.92,14,1.12,0,BR,1771058353,1771104338

In [2]:
data.info()
df.columns

NameError: name 'data' is not defined